.chat-app__container {
    font-family: sans-serif;
    .launcher-icon__container {
        position: fixed;
        bottom: 0;
        right: 10px;
        .chat-icon__main {
            height: 60px;
            width: 60px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            margin-bottom: 20px;
            background: 0% 0% / contain no-repeat rgb(44, 96, 215);
            border-radius: 20px;
            background-repeat: no-repeat;
        }

        .icon-section {
            cursor: pointer;
        }

        .launcher-icon {
           background-image: url(https://insent-assets.s3.amazonaws.com/bot-logo/option-1.png);
            background-size: contain;
            background-repeat: no-repeat;
            height: 40px;
            width: 40px;
            border-radius: 0px;
        }
    }
}